extends ../page

block content
    .jumbotron
        h1.text-center 부트스트랩 사용
        p
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus harum consectetur cum. Pariatur rerum nobis impedit minima voluptatibus unde dolore eaque maiores sunt, suscipit sint,  nostrum assumenda eum nemo possimus?
        p.text-center
            a.btn.btn-primary.text-white(role='button')= text